$box-padding: 30px;

$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1260px;
$breakpoint-desktop-wide: 1440px;

$color-black: #000;
$color-city: #596157;
$color-ocean: #173f5f;
$color-rain: #3caea3;
$color-storm: #52414c;
$color-white: #fff;

$container-max-width: 1440px;

$container-padding-mobile: 20px;
$container-padding-tablet: 40px;
$container-padding-desktop: 60px;

$content-max-width: 800px;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-base: 16px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-xl: 42px;

$gutter-width: 20px;

$section-spacing: 50px;